pandas
transformers
langchain
langchain_community
langchain-huggingface
accelerate
unstructured[pdf]
wikipedia
nltk
textblob
scikit-learn
spacy
gensim
pattern3
huggingface_hub
torch
sentence_transformers
chromadb
faiss-cpu
evaluate
rouge_score
pypdf
gradio
origamibot
scipy
tensorflow